.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2)
    &__icon{

    }
    &__text{

    }
}